// --- recruit --------------------------------------------
.recruit{
    margin-top: 100px;

    .inner{
        display: flex;
    }
    
    .recruit-content{
        margin-left: 165/1440*100vw;
        width: 100%;
        position: relative;

        .recruit_copy{
            margin-top: 50px;
            font-size: 48/1440*100vw;
            font-weight: bold;
            color: $mainColor;
            -webkit-text-stroke: 2px $bgc;
            letter-spacing: 0.2em;
        }

        .recruit_para{
            margin-top: 40px;
            width: 450/1440*100vw;
        }

        .more-btn_wrapp{
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    @media screen and (max-width: 959px) {

        .recruit-content{
            // margin-left: 165/1440*100vw;
            // width: 100%;
            // position: relative;
    
            .recruit_copy{
                // margin-top: 50px;
                font-size: 3.2rem;
                -webkit-text-stroke: 1px $bgc;
                // font-weight: bold;
                // color: $mainColor;
                // letter-spacing: 0.2em;
            }
    
            .recruit_para{
                margin-top: 40px;
                // width: 450/1440*100vw;
                width: 100%;
            }
    
            .more-btn_wrapp{
                position: static;
                // position: absolute;
                // top: 0;
                // right: 0;
            }
        }
    }
    @media screen and (max-width: 519px) {
        .recruit-content{
            margin-left: 0;
    
            .recruit_copy{
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: fit-content;
                // font-size: 3.2rem;
            }
    
            .recruit_para{
                margin-top: 40px;
                // width: 450/1440*100vw;
                width: 100%;
            }
    
            .more-btn_wrapp{
                position: static;
                // position: absolute;
                // top: 0;
                // right: 0;
            }
        }
    }
}
// --- /recruit --------------------------------------------