@import "utility";
@import "header-parts";
@import "footer-parts";
@import "recruit-parts";
// @import "animation";
@import "more-btn";

.nav-works{
    a{
        &:after{
            bottom: -5px !important;
            opacity: 1 !important;
        }
    }
}

// --- works --------------------------------------------
.works{
    padding-top: 250px;

    .inner{
        display: flex;
    }
    .works-para{
        margin: 30px auto 0;
        width: 687/1440*100vw;
    }

    @media screen and (max-width: 959px) {
        padding-top: 200px;

        .works-para{
            margin: 30px auto 0 30px;
            width: 100%;
        }
    }
    @media screen and (max-width: 519px) {
        padding-top: 150px;

        .works-para{
            margin-left: 0;
        }
    }

}

.works-content{

    margin-left: calc(150/1440*100vw + 97px);

    @media screen and (max-width: 959px) {
        margin-left: calc(5vw + 97px);
             
    }
    @media screen and (max-width: 519px) {
        margin-left: 5vw;
    }


    .works-list{
    
        ul{
                
            li{
                margin-top: 120px;
                width: 100%;

                &:first-of-type{
                    margin-top: 30px;
                }

                @media screen and (max-width: 959px) {
             
                }
                @media screen and (max-width: 519px) {

                    &:first-of-type{
                        margin-top: 100px;
                    }
                }

                .works-slide{

                    figure{
                        margin-right: 16/1440*100vw;
                        width: calc((728/1440)*(100vw - 97px));
                        overflow: hidden;
                        
                        img{
                            object-fit: cover;
                            width: 100%;
                            // height: calc((546/1440)*(100vw - 97px));
                            height: 546/1440*100vw;
                            transition: ease .5s;
                        }            
                        
                        &:hover{
                            img{
                                transform: scale(1.1);
                            }
                        }
                    }
                    
                    .slick-list {
                        padding: 0 30% 0 0!important;

                        @media screen and (max-width: 959px) {
                            
                        }
                        @media screen and (max-width: 519px) {
                            // padding: 0 15% 0 0!important;
                        }
                    }
                }
    
    
                // @media screen and (max-width: 959px) {
                //     margin-top: 30px;
                //     width: 100%;
    
                //     figure{
                //         height: calc(180/375*100vw);
                //     }
    
                //     &:nth-of-type(n+5){
                //         display: none;
                //     }
                // }
                // @media screen and (max-width: 519px) {
                //     figure{
                //         height: calc(200/375*100vw);
                //     }
                // }

                .works-detail{
                    margin-right: 150/1440*100vw;

                    .category{
                        margin-top: 20px;
                        display: inline-block;
                        color: #fff;
                        font-size: 1.4rem;
                        font-weight: bold;
                        line-height: 1;
                        padding: 4px 10px;
                        background-color: $accentColor;
                    }
                    
                    .works-term{
                        margin-left: 20px;
                        display: inline-block;
                        font-size: 1.4rem;
                    }
        
                    .works-ttl{
                        margin-top: 16px;
                        display: block;
                        font-size: 2.4rem;
                        font-weight: bold;
                        line-height: 1.375;
        
                        // @media screen and (max-width: 768px){
                        //     font-size: 1.4rem;
                        //     letter-spacing: 0;
                        // }
                    }

                    .works-info{
                        margin-top: 24px;
                    }
                }
            }
        }
    }
}

// --- /works --------------------------------------------



