@import "utility";
@import "header-parts";
@import "footer-parts";
@import "service-parts";
@import "recruit-parts";
// @import "animation";
@import "more-btn";

// ---mainvisual--------------------------------------------
.mv{
    margin-top: 164px;
    position: relative;

    &_img-1{
        margin-left: 50/1440*100vw;
        margin-right: auto;
        width: 1000/1440*100vw;
        height: 600/1440*100vw;
        overflow: hidden;
        position: relative;

        &:after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            // transform: translate(-50%, -50%) scale(1.6);
            // width: 150%;
            // height: 150%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background-image: url(../images/mv_1@2x.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            z-index: -10;
        }
    }

    @media screen and (max-width: 959px) {
        padding-top: 100px;
        margin-top: 0;

        &_img-1{
            width: 80vw;
            height: 80vh;
        }
    }
    @media screen and (max-width: 519px) {
        
    }

    &-copy{
        font-size: 60/1440*100vw;
        font-weight: bold;
        color: #fff;
        // -webkit-text-stroke: 1px $textColor;
        letter-spacing: 0.2em;
        position: absolute;
        top: 20%;
        right: 150/1440*100vw;
        
        
        span{
            // mix-blend-mode: difference;
            padding: 0 6px;
            position: relative;
            font-style: italic;
            
            &:after{
                content: '';
                width: 100%;
                height: 100%;
                background-color: $mainColor;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) skew(-15deg);
                z-index: -1;
                box-sizing: border-box;
            }
        }

        @media screen and (max-width: 959px) {
            top: 60%;
            right: 5vw;
            font-size: 4.8rem;
        }
        @media screen and (max-width: 519px) {
            writing-mode: vertical-rl;
            top: auto;
            bottom: 50px;

            span{
                padding: 6px;
                font-style: normal;

                &:after{
                    left: auto;
                    transform: translate(-6px, -50%);
                }
            }

        }
    }
}

// --- mainvisual--------------------------------------------

// --- about --------------------------------------------
.about{
    position: relative;

    &_copy{
        font-size: 2.4rem;
    
        span{
            font-size: 3.2rem;
            font-weight: bold;
            color: $accentColor;
        }
    }
    &_para{
        margin-top: 30px;
    }

    @media screen and (max-width: 959px) {
        margin-top: 10px;

        &_para{
            margin-top: 20px;
            margin-left: 20px;
        }
    }
    @media screen and (max-width: 519px) {
        
    }
}
.about_inner{
    display: inline-block;
    padding: 60/1440*100vw;
    // float: right;
    position: absolute;
    top: -200/1440*100vw;
    right: 30px;
    background-color: #fff;
    width: 600/1440*100vw;
    // border: 1px solid $mainColor;
    box-sizing: border-box;
    letter-spacing: 0.2em;

    @media screen and (min-width: 1440px){
        padding: 60px;
    }

    @media screen and (max-width: 959px) {
        // display: block;
        padding-top: 0;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 0;
        background-color: transparent;
        border: none;
        position: static;
        width: 100%;
    }
    @media screen and (max-width: 519px) {
        
    }

}
// --- /about --------------------------------------------

// --- news --------------------------------------------
.news{
    margin-top: 24px;
    display: inline-block;

    .inner{
        display: flex;
        flex-direction: row;
    }

    .news-content{
        margin-top: 29px;
        width: 500/1440*100vw;

        .news-list{
            tr{
                display: flex;
                margin-top: 1rem;
                font-size: 1.3rem;
                transition: $easing 1s .5s;
                opacity: 0;
                transform: translateX(-20px);

                time{
                    display: block;
                    width: 95px;
                    font-weight: normal;
                }

                td{
                    margin-left: 20px;
                    // display: block;
                }
            }
        }
    }

    @media screen and (max-width: 959px) {
        margin-top: 60px;
        .news-content{
            // margin-top: 29px;
            width: 100%;
    
            // .news-list{
                // tr{
                    // margin-top: 1rem;
                    // font-size: 1.3rem;
    
                    // time{
                        // width: 95px;
                    // }
    
                    // td{
                        // margin-left: 20px;
                    // }
                // }
            // }
        }
    }
    @media screen and (max-width: 519px) {
        
    }

}

.news.show{
    .news_section_ttl, tr, .more-btn_wrapp{
        opacity: 1 !important;
        transform: none !important;
    }
}
// --- /news --------------------------------------------

// --- works --------------------------------------------
.works{
    margin-top: 100px;

    .inner{
        display: flex;
        // justify-content: space-between;        
    }
}
.works-content{
    
    @media screen and (max-width: 959px) {
             
    }
    @media screen and (max-width: 519px) {
        margin-top: 30px;
    }

    .works-list{
    
        ul{
            // width: 1020/1440*100vw;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        
            &:after{ // コンテンツが5この場合に、左詰になるために必要。
                    // 高さを指定していないので、６個になっても３段目に高さがないので表示は保たれる。
                content: '';
                display: block;
                width: (325/1440)*100vw;
            }
                
            li{
                // width: (500/1440)*100vw;
                width: calc(50% - 10px);
    
                figure{
                    width: 100%;
                    height: (300/1440)*100vw;
                    overflow: hidden;
                    
                    img{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        transition: ease .5s;
                    }            
                    
                    &:hover{
                        img{
                            transform: scale(1.1);
                        }
                    }
                }
    
                @media screen and (max-width: 959px) {
                    margin-top: 30px;
                    width: 100%;
    
                    figure{
                        height: calc(180/375*100vw);
                    }
    
                    &:nth-of-type(n+5){
                        display: none;
                    }
                }
                @media screen and (max-width: 519px) {
                    figure{
                        height: calc(200/375*100vw);
                    }
                }
                    
                .category{
                    margin-top: 9px;
                    display: inline-block;
                    color: #fff;
                    font-size: 1.4rem;
                    font-weight: bold;
                    line-height: 1;
                    padding: 4px 10px;
                    background-color: $accentColor;
                }
            
    
                .works-ttl{
                    margin-top: 5px;
                    display: block;
                    color: $textColor;
                    line-height: 1.5;
    
                    // @media screen and (max-width: 768px){
                    //     font-size: 1.4rem;
                    //     letter-spacing: 0;
                    // }
                }
    
                &:nth-of-type(n+3){
                    margin-top: 50px;
                    // width: (325/1440)*100vw;
                    width: calc(33.33% - 10px);
                    
                    
                    figure{
                        height: (195/1440)*100vw;
                    }
                    
                    .category{
                        margin-top: 5px;
                        font-size: 1.2rem;
                    }
                    
                    .works-ttl{
                        margin-top: 3px;
                        font-size: 1.4rem;
                    }
                    
                    @media screen and (max-width: 959px) {
                        margin-top: 30px;
                        width: calc(50% - 10px);
                        figure{
                            height: calc(90/375*100vw);
    
                        }
                        
                    }
                    @media screen and (max-width: 519px) {
                        
                    }
                }
                
            }
        }
    }
}

// .section-group.show{
//     .section_ttl, .section_subttl{
//         opacity: 1 !important;
//         transform: none !important;
//     }
// }

.delayShow{
    opacity: 0;
}
.fadeUp {
    animation-name:fadeUpAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    animation-timing-function: $fadeIn;
    opacity: 0;
}

@keyframes fadeUpAnime{
    0% {
    opacity: 0;
    transform: translateY(50px);
    }

    to {
    opacity: 1;
    transform: translateY(0);
    }
}

.works .more-btn_wrapp.show{
    opacity: 1 !important;
    transform: none !important;
}
// --- /works --------------------------------------------



